# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment / secrets
.env

# Project datasets
Dataset/raw/*

# Generated results
result/*

# Database files
*.db
*.sqlite
*.sqlite3